/* Features Grid ---------======>>> */
.features-grid {
	display: grid;
	grid-template-rows: repeat(3, minmax(20px, auto));
	grid-template-columns: repeat(4, minmax(1fr, auto));
	grid-template-areas: 
	"features-title features-title features-title features-title"
	"features-image features-image . ."
	"features-image features-image . .";
}

.features-title {
	grid-area: features-title;
}
.features-image {
	grid-area: features-image;
}


.about-grid {
	display: grid;
	grid-template-rows: repeat(4, minmax(20px, auto));
	grid-template-columns: repeat(3, minmax(20px, auto));
	grid-template-areas:
	"about-title about-title about-title"
	". . . "
	". . . "
	". about-button .";
}
.about-title {
	grid-area: about-title;
}
.about-button {
	grid-area: about-button;
}

.album {
	display: grid;
	grid-template-rows: repeat(3, minmax(20px, auto));
	grid-template-columns: repeat(3, minmax(20px, auto));
	grid-template-areas:
	"album-title album-title album-title";
}
.album-title {
	grid-area: album-title;
}