body {
	display: grid;
	grid-template-columns: minmax(0px, 1fr) minmax(320px, 978px) minmax(0px, 1fr);
}
.very-top-bar {
	display: grid;
	grid-column: 1 / -1;
	grid-template-columns: 1fr auto 1fr;
}
.vtb-items {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-column: 2 / -2;
}
header {
	grid-column: 2 / -2;
	grid-template-columns: 1fr 8fr 1fr;
	display: grid;
}
.main-title {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.header-navbar {
	grid-column: 2 / -2;
	display: grid;
	grid-template-columns: repeat(7, auto);
}
/*  Intro ---------======>>> */
.intro {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}
.intro-card {
	grid-column: 2 / -2;
}
/*  Features ---------======>>> */
.features {
	grid-column: 2 / -2;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.features h3,
.features p {
	grid-column: 1 / -1;
}
.features .features-image {
	grid-column: 1 / 3;
	grid-row: 3 / 5;
}
/*  Features ---------======>>> */
.about {
	grid-column: 2 / -2;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.about h3,
.about p {
	grid-column: 1 / -1;
}
.about .about-button {
	grid-column: 1 / -1;
}
/*  Album ---------======>>> */
.album {
	grid-column: 2 / -2;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.album h3,
.album p {
	grid-column: 1 / -1;
}
/*  Testimonials ---------======>>> */
.testimonials {
	grid-column: 2 / -2;
	display: grid;
}
/*  Latestposts ---------======>>> */
.latestposts {
	grid-column: 2 / -2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.latestposts .latestposts-card .card-text {
	display: grid;
	grid-template-columns: auto 1fr 1fr;
}
.latestposts .latestposts-card .card-text > h3,
.latestposts .latestposts-card .card-text > p {
	grid-column: 1 / -1;
}
.latestposts .latestposts-button {
	grid-column: 1 / -1;
}
/*  Ribbon ---------======>>> */
.ribbon {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 1fr  auto minmax(160px, 489px) 1fr;
}
.ribbon h6 {
	grid-column: 2 / 3;
}
.ribbon a {
	grid-column: -2 / -3;
}
/*  Footer ---------======>>> */
footer {
	/* make sure that footer tag fits on the center column within the main grid of the page */
	grid-column: 1 / -1;
	/* create a 3 columns layout, considering the middle one the main column for the content */
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
}
.footer-content {
	/* make sure that this one fits on the center column of the footer-grid */
	grid-column-start: 2;
	grid-column-end: 3;
	/* create a 4 columns grid here */
	display: grid;
	grid-template-columns: repeat( 4, 1fr );
}
.social-links{
	display: grid;
	grid-template-columns: repeat(4, auto);
}
