body {
	display: grid;
	grid-template-columns: 1fr 978px 1fr;
}
.very-top-bar {
	display: grid;
	grid-column: 1 / -1;
	grid-template-columns: 1fr auto 1fr;
}
.vtb-items {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-column: 2 / -2;
}
header {
	grid-column: 2 / -2;
	grid-template-columns: 1fr 8fr 1fr;
	display: grid;
}
.main-title {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 3fr 8fr 2fr;
}
.header-navbar {
	grid-column: 2 / -2;
	display: grid;
	grid-template-columns: repeat(7, auto);
}
/*  Intro ---------======>>> */
.intro {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}
.intro-card {
	grid-column: 2 / -2;
}
/*  Features ---------======>>> */
.features {
	grid-column: 2 / -2;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.features h3 {
	grid-column: 1 / -1;
}
.features p {
	grid-column: 1 / -1;
}
.features .features-image {
	grid-column: 1 / 3;
	grid-row: 3 / 5;
}