* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
        line-height: 1.6em;
        vertical-align: baseline;
        background: transparent;
    }
/*  Default properties ---------======>>> */


.dry-bck {
    background-color: #FFA41F;
}
.dry-color {
    color: #FFA41F;
}
.w100 {
    width: 100%;
    margin: 0 auto;
}
/*  Very top bar ---------======>>> */
.very-top-bar {
    height: 50px;
}
.vtb-items {
    padding: 15px 0;
}
.vtb-items > * {
    padding: 0 8px;
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    color: #FFFFFF;
}

/*  Main title ---------======>>> */
.main-title {
    padding: 50px 0;
    color: #7A7A7A;
}
.main-title p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-title h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-title a {
    margin-bottom: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 26px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}
.main-title form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    position: relative;
}
.main-title input {
    width: 100%;
    padding: 5px 10px 5px 10px;
    border: 1px solid #F2F2F2;
    transition: all .3s ease-in-out;
}
.main-title input:focus {
    border-color: #FFA41F;
}
.main-title button {
    color: #FFFFFF;
    background-color: #FFA41F;
    position: absolute;
    right: 1px;
    width: 32px;
    height: 28px;
    border-width: 0 0 0 1px;
    font-size: 16px;
    cursor: pointer;
}

/*  Header Navbar ---------======>>> */
.header-navbar .current-page {
    color: #FFA41F;
}
.header-navbar a {
    text-align: center;
    color: #7A7A7A;
    padding: 20px 0;
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    text-align: center;
}
