* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
/*  Default properties ---------======>>> */

.container {
    max-width: 978px;
    margin: 0 auto;
}

/*  DRY properties ---------======>>> */
.flleft {
    float: left;
}
.flright {
    float: right;
}
.w100 {
    width: 100%;
    margin: 0 auto;

}
.w50 {
    width: 50%;
    margin: 0 auto;
}
.w33 {
    width: 33.33333333333333%;
    margin: 0 auto;
}

.max-w25 {
    max-width: 25%;
    margin: 0 auto;
}
.max-w100 {
    max-width: 100%;
    margin: 0 auto;

}
.max-w50 {
    max-width: 50%;
    margin: 0 auto;
}
.max-w33 {
    max-width: 33.33333333333333%;
    margin: 0 auto;
}
.w25 {
    width: 25%;
    margin: 0 auto;
}

.dry-bck {
    background-color: #FFA41F;
}
.dry-color {
    color: #FFA41F;
}
.inline {
    display: inline;
}
.inline-bl {
    display:inline-block;
}
.block {
    display: block;
}
.txtleft{
    text-align: left;
}
.txtcenter {
    text-align: center;
}
.txtright {
    text-align: right;
}
/* Header ---------======>>> */
/* Header-top-bar ---------======>>> */

header {
    padding-bottom: 50px;
}
.nal-top-bar {
    padding: 18px;
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
.nal-top-bar a{
    color: #fff;
    font-weight: normal;
}
.nal-top-bar ul {
    list-style: none;
}
.nal-top-bar ul li {
    display: inline-block;
    margin-right: 15px;
}
.nal-top-bar ul li:last-of-type {
    margin-right: 0;
}
/* Header-top-bar ---------======>>> */
.nal-big-title .tel-number,
.nal-big-title .logo,
.nal-big-title .form {
    margin-right: -3px;
    vertical-align: middle;
}
.nal-big-title {
    padding: 50px 0;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    color: #7A7A7A;
}
.nal-big-title
.nal-big-title .tel-number {
    font-family: Verdana, Geneva, sans-serif;
}
.nal-big-title .logo a {
    color: #7A7A7A;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 26px;
    font-weight: normal;
}

/* NavBar ---------======>>> */
.main-navbar {
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    color: #7A7A7A;
    font-weight: normal;

    border-bottom: 1px solid rgba(0,0,0,.1);
    border-top: 1px solid rgba(0,0,0,.1);
}

.main-navbar ul {
    list-style: none;
}
.main-navbar ul li {
    display: inline-block;
    margin: 0 30px 0 0;
}
.main-navbar ul li:last-of-type {
    margin-right: 0;
}
.main-navbar ul li a {
    display: block;
    padding: 20px 0;
    color: #7A7A7A;
    font-size: 14px;
}
.main-navbar .current-page {
    color: #FFA41F;
}


/* Intro section ---------======>>> */
.nl-intro {
    background-color: #000;
}
.intro-card-position {
    padding: 180px 0;
}
.nl-intro-card {
    margin: 0 auto;
    max-width: 60%;
    padding: 5%;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    background: rgba(255,255,255,.7);
}
.nl-intro .nl-intro-card h3 {
    margin-bottom: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-transform: capitalize;
    font-size: 2.6rem;
    font-weight: normal;
}
.nl-intro .nl-intro-card p {
    font-size: 14px;
    line-height: 2;
    font-weight: lighter;
}
.nl-intro .nl-intro-card .intro-button {
    margin-top: 30px;
}
.nl-intro .nl-intro-card .intro-button a {
    padding: 8px 18px 10px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border: 1px solid #FFA41F;
    transition: all .3s ease-in-out;
}
.nl-intro .nl-intro-card .intro-button a:hover {
    border: 1px solid #000;
    background:transparent;
}


/* Features ---------======>>> */
.features {
    padding: 80px 0;
}
.features .features-grid .features-title {
    vertical-align: center;
    margin: 0 auto 80px;
    text-align: center;
}
.features .features-grid .features-title h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: capitalize;
    line-height: normal;
}
.features .features-grid .features-title p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: normal;
    color: #7A7A7A;
}
.features .features-grid .features-image img {
    max-width: 442px;
    max-height: 332px;
    padding: 15px;
    border: 1px solid #D7D7D7;
}
.features .features-grid .features-card:nth-child(odd){
    margin-left: 50px;
}
.features .features-grid .features-card a {
    display: block;
    margin: 20px 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    text-transform: capitalize;
}
.features .features-grid .features-card p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #7A7A7A;
    margin-right: 12px;
    line-height: 25px;
}

/* About ---------======>>> */
.about {
    padding: 80px 0;
    text-align: center;
    background-color: #F7F7F7;
}
.about .about-title {
    margin: 0 auto 80px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.4rem;
    font-weight: normal;
}
.about .about-title h3 {
    text-transform: capitalize;
}
.about .about-title p {
    font-size: 14px;
    color: #7A7A7A;
}
.about .about-card:nth-child(1),
.about .about-card:nth-child(2),
.about .about-card:nth-child(3) {
    margin-bottom: 50px;
}
.about .about-card {
    margin-left: 30px;
}
.about .about-card a i {
    margin-bottom: 30px;
    font-size: 42px;
    color: #7A7A7A;


    transition: all .3s ease-in-out;
}
.about .about-card h6 {
    margin-bottom: 20px;
}
.about .about-card h6 a {
    color: #7A7A7A;
    text-transform: capitalize;
    font-size: 1.4rem;


    transition: all .3s ease-in-out;
}
.about .about-card p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}
.about .about-card a {
    color: #7A7A7A;

    transition: all .3s ease-in-out;
}
.about .about-card:hover a i,
.about .about-card:hover h6 a,
.about .about-card:hover a {
    color: #FFA41F;
}
.about .about-button {
    margin-top: 80px;
}
.about .about-button a {
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    padding: 8px 18px 10px;
    color: #fff;
    border: 1px solid #FFA41F;

    transition: all .3s ease-in-out;
}
.about .about-button a:hover {
    color: #7A7A7A;
    border-color: #000;
    background: transparent;
}

/* Album ---------======>>> */
.album {
    margin: 0 auto;
    padding: 80px 0;
    box-sizing: border-box;
}
.album .album-title {
    text-align: center;
    margin-bottom: 80px;

}
.album .album-title h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.4rem;
    text-transform: capitalize;
    color: #121212;
}
.album .album-title p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #7A7A7A;

}
.album .album-image img {
    box-sizing: border-box;
    width: 306px;
    height: 230px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.album .album-image:nth-child(2),
.album .album-image:nth-child(3),
.album .album-image:nth-child(4) {
    margin-bottom: 30px;
}

.album .album-image:nth-child(3),
.album .album-image:nth-child(4),
.album .album-image:nth-child(6),
.album .album-image:nth-child(7) {
    margin-left: 30px;
}


/* Testimonials ---------======>>> */
.testimonials {
    padding: 80px 0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    background-color: #F7F7F7;
    text-align: center;
}
.testimonials .testimonials-title {
    margin-bottom: 80px;
}
.testimonials .testimonials-title h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.4rem;
    font-weight: normal;
    text-transform: capitalize;
}
.testimonials .testimonials-title p {
    color: #7A7A7A;
}
.testimonials .testimonials-text {
    max-width: 80%;
    padding: 20px;
    margin: 0 auto 30px;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 2rem;
    color: #7A7A7A;
    background-color: #FFFFFF;
}
.testimonials .testimonials-image {
    margin-bottom: 80px;
}
.testimonials .testimonials-image img {
    max-width: 60px;
    max-height: 60px;
    margin-bottom: 15px;
}
.testimonials .testimonials-image h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.testimonials .testimonials-image em {
    font-size: .7rem;
    color: #7A7A7A;
}
.testimonials .testimonials-button a {
    padding: 8px 18px 10px;
    text-transform: uppercase;
    color: #f1f1f1;
    background-color: #FFA41F;
    border-color: #FFA41F;
}