* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
        line-height: 1.6em;
        vertical-align: baseline;
        background: transparent;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
}
/*  Default properties ---------======>>> */


.dry-bck {
    background-color: #FFA41F;
}
.dry-color {
    color: #FFA41F;
}
.w100 {
    width: 100%;
    margin: 0 auto;
}
/*  Very top bar ---------======>>> */
.very-top-bar {
    height: 50px;
}
.vtb-items {
    padding: 15px 0;
}
.vtb-items > * {
    padding: 0 8px;
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    color: #FFFFFF;
}

/*  Main title ---------======>>> */
.main-title {
    padding: 50px 0;
    color: #7A7A7A;
}
.main-title p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-title h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-title a {
    margin-bottom: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 26px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}
.main-title form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    position: relative;
}
.main-title input {
    width: 100%;
    padding: 5px 10px 5px 10px;
    border: 1px solid #F2F2F2;
    transition: all .3s ease-in-out;
}
.main-title input:focus {
    border-color: #FFA41F;
}
.main-title button {
    color: #FFFFFF;
    background-color: #FFA41F;
    position: absolute;
    right: 1px;
    width: 32px;
    height: 28px;
    border-width: 0 0 0 1px;
    font-size: 16px;
    cursor: pointer;
}

/*  Header Navbar ---------======>>> */
.header-navbar .current-page {
    color: #FFA41F;
}
.header-navbar a {
    text-align: center;
    color: #7A7A7A;
    padding: 20px 0;
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    text-align: center;
}
/*  Intro ---------======>>> */
.intro {
    padding: 180px 0;
    background-image: url(../images/intro-image.png);
    background-position: center;
    background-size: cover;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}
.intro-card {
    padding: 50px;
    background-color: rgba(255,255,255,.7);
}
.intro-card h3 {
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: normal;
    text-transform: capitalize;
}
.intro-card p {
    font-size: 1.1rem;
    line-height: 2;
}
.intro-card .intro-button {
    margin-top: 30px;
}
.intro-card .intro-button a {
    padding: 8px 18px 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFA41F;
    transition: all .3s ease-in-out;
}
.intro-card .intro-button a:hover {
    background: transparent;
    color: #000000;
    border-color: #000000;
}
/*  Features ---------======>>> */
.features {
    padding: 80px 0;
}
.features > h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
}
.features > p {
    margin-bottom: 80px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #7A7A7A;
}
.features .features-image img {
    max-width: 440px;
    max-height: 332px;
    padding: 15px;
    border: 1px solid;
    border-color: #D7D7D7;
    /*background-image: url(../images/features-image.png);
    background-position: center;
    background-size: cover;*/
}
.features .features-card {
    padding: 0 15px 25px 15px;
}
.features .features-card a {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    text-transform: capitalize;
}
.features .features-card p {
    text-align: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;

    color: #7A7A7A;
}